@import url('https://rsms.me/inter/inter.css');

:root {
    --main-bg-color: #F0F4F9;
    --blue-color: #2E75F0;
    --grey-color: #777E8B;
    --black-color: #000;
    --active-blue-color: #204871;
    --validation-color: red;
    --avator-bg-color: #48D1E0;
    --avator-letter-size: 32px;
    --white-color: #fff;
    --default-font-family: 'Inter var', sans-serif;
    --header-font: 20px;
    --large-font: 16px;
    --medium-font: 14px;
    --small-font: 12px;
    --extra-small-font: 11px;
    --line-color: #DBDFE7;
    --form-border: 1px solid #E6E6E6;
  }


/* Global Styling */
* {
    box-sizing: border-box;
  }

body {
    background-color: var(--main-bg-color);
}

a {
    color: var(--blue-color);
    text-decoration: none;
}

a:hover {
    color: var(--active-blue-color);
    text-decoration: underline;
}

/* Ask an Expert Styling */
.ask-an-expert {
    font-family: var(--default-font-family);
    font-size: var(--medium-font); 
    background-color: var(--white-color);
    color: var(--black-color);
    width: 648px;
    height: 446px; 
    position: relative;
}

.ask-an-expert-thank-you, .ask-an-expert-form, .ask-an-expert-landing {
    padding: 24px 24px; 
}

.ask-an-expert h1 {
    font-size: var(--header-font);
    margin: 0;
    margin-right: 24px;
    line-height: 24px;
}

.ask-an-expert hr {
    position: absolute;
    margin-top: 12px;
    width: 100%;
    left: 0;
}

.section-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-items: center; 
}

.header-ln {
    border-top: 0.0625em solid var(--line-color); 
}

/* Landing Page */
.ask-an-expert__link{
    font-size: var(--small-font);
}

/* Form Page */
/* Form Page - Images */
.expert-imgs {
    position: relative;
    margin-right: 20px; 
    margin-top: 16px;
    margin-bottom: 20px; 
    width: 120px;
    height: 56px;
}

.expert-img, .img-does-not-exist {
    position: absolute;
    border-radius: 50%;
    width: 56px; 
    height: 56px;
}

.img-position-0 {
    left: 0px;
}
.img-position-1 {
    left: 35px;
}
.img-position-2 {
    left: 70px;
}

.img-does-not-exist {
    background-color: var(--avator-bg-color);
    font-size: var(--avator-letter-size);
    color: var(--white-color);
    text-transform: uppercase;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-weight: 800;
}

/* Form Page - Form Styling */
.form-validation {
    color: var(--validation-color);
    display: inline;
    margin-left: 24px;
}

.form-label {
    font-size: var(--large-font);
}

.search-input, .detail-input {
    font-size: var(--medium-font);
    border: var(--form-border:);
    width: 100%;
    border-radius: 2px;
    padding: 12px; 
    margin-bottom: 12px;
}

.search-input {
    height: 40px; 
    background: url("../assets/searchIcon.png") no-repeat;
    background-position: 8px 50%;
    padding-left: 32px;
}

.detail-input {
    height: 80px; 
}

.detail-input::placeholder {
    color: var(--grey-color); 
}

/* Form Page - Buttons */
.round-button {
    font-size: var(--small-font);
    border-radius: 16px;
    padding: 8px 24px; 
    border: none;
}

.send-button{
    background-color: var(--blue-color);
    color: var(--white-color);
    margin-left: 16px;
}

.cancel-button{
    background-color: #EAEDF2;
    color: #1C2330;
}

.send-button:hover {
    background-color: var(--active-blue-color);
}

/* Thank You Page */
.ask-an-expert-thank-you p{
    color: var(--grey-color);
}